<% include ../headfoot/header %>

<div class="ui segment text  container">
	<div class="ui large header">Login</div>
<hr>
	<form action="/login" method="post" class="ui form">

<div class="field">

   	 <label>Username</label>
     <input type="text" name="username" required autofocus>
</div>

<div class="field">
     <label>Password</label>
     <input type="password" name="password" required>
</div> 

     <input type="submit" value="Login" class="ui  primary button">
      <a href="/register" class="ui primary button" >Sign Up</a>
  </div>	


</form>

</div>

<% include ../headfoot/footer %>