<% include ../headfoot/header %>

<div class="ui huge centered header upp">
	Sign Up As
   </div>
<div class="ui huge centered header dnn">

<div class="massive ui buttons">
  <a class="ui button" href="/register/admin" >Admin</a>
  <div class="or"></div>
  <a class="ui positive button" href="/register/user">User</a>
</div>
</div>
<% include ../headfoot/footer %>