.ui.negative.message{
	margin-bottom: -14%;
}

.ui.success.message{
	margin-bottom: -14%;
}


.textarea{
width: 100%;
height: 95px;
padding: 0px;

}
.actspanr{
	margin-left: 30%;
	color: red;
}
.actspang{
	margin-left: 30%;
	color: green;
}
.monu{
	margin-left: 2%;
}


.article{
	float: right;
}
.article1{
	float: right;
	margin-top: 6%;
}
.like{
	max-width: 20%;
    display: inline;
}

hr{ border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.ui.large.header{
	padding-bottom: 0px;
    margin-bottom: -9px;
}
hr{
	    margin-bottom: 30px;
    margin-top: 10px;
}

.ui.left.labeled.button{
	height:30px;
}
.ui.button.likem{
	padding: 8px;
	font-size: 12px;
	justify-content: center;

}
.ui.basic.right.label{
	padding: 8px;
	font-size: 12px;
	min-width: 50px;
	justify-content: center;
}
.ui.huge.centered.header.upp
{
	margin-top: 10%;
}
.ui.huge.centered.header.dnn
{
	margin-top: -15%;
}
.massive.ui.button.articl{
  margin-left: 30%;
}

.massive.ui.buttons{
	margin-top: 20%;
}

.ui.centered.card{
	margin-top: 5%;
	margin-bottom: 4%;
	width:40%;
}



.comment .button{
	padding: 3px;
}


.userspan{
	font-size: 18px;
    color: green;
    font-style: italic;
}

i.icon{

	font-size: 2em;
}


.ui.segment.container {


	margin-top: 7em;
}

.ui.text.container{
margin-top: 4em;

}


#deletef{

	display: inline;
}


#delete{
	display: inline;
}


.ui.items > .item > .image > img{

border-radius: 500rem;

}

.ui.items > .item > .content > .header {

	    color: rgb(51, 158, 55);
}
.ui.main.text.container{

	margin-bottom: 7em;
}